<%- include('../Layouts/Header') %>

<!--begin::App Main-->
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
          <div class="col-sm-6"><h3 class="mb-0">Add Blog</h3></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-end">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Blog</li>
            </ol>
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content Header-->
    <!--begin::App Content-->
    <div class="app-content">
      <!--begin::Container-->
      <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
          
          <!--begin::Col-->
          <div class="col-md-6">
            <!--begin::Horizontal Form-->
            <div class="card card-warning card-outline mb-4">
              <!--begin::Header-->
              <div class="card-header"><div class="card-title">Form</div></div>
              <!--end::Header-->
              <!--begin::Form-->
              <form method="post" action="/dashboard/insertBlog" enctype="multipart/form-data">
                <!--begin::Body-->
                <div class="card-body">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Blog Title</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputEmail3" name="blogTitle" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="validationCustom04" class="col-sm-3 col-form-label">Blog Category</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="validationCustom04" required name="categoryId">
                                <option selected disabled value="">Select Category...</option>
                                <% CategoryData.map((v, i) => { %>
                                    <option value="<%= v.id %>"><%= v.categoryName %></option>
                                <% }) %>
                              </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Blog Image</label>
                        <div class="col-sm-9">
                          <input type="file" class="form-control" id="inputEmail3" name="blogImage"/>
                        </div>
                    </div>
                      
                    <div class="row mb-3">
                      <label for="inputPassword3" class="col-sm-3 col-form-label">Description</label>
                      <div class="col-sm-12">
                          <textarea class="form-control" aria-label="With textarea" name="description"></textarea>
                      </div>
                    </div>
                </div>
                <!--end::Body-->
                <!--begin::Footer-->
                <div class="card-footer">
                  <button type="submit" class="btn btn-warning">Add Blog</button>
                </div>
                <!--end::Footer-->
              </form>
              <!--end::Form-->
            </div>
            <!--end::Horizontal Form-->
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::App Content-->
  </main>
  <!--end::App Main-->

<%- include('../Layouts/Footer') %>

<script src="https://cdn.tiny.cloud/1/icmzsk9rvydhcye3175dhyhypu2rt17jl3cwc5wu1p7x7aj9/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: [
      // Core editing features
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
      // Your account includes a free trial of TinyMCE premium features
      // Try the most popular premium features until Feb 5, 2025:
      'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
    ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
  });
</script>